<!DOCTYPE html>
<html>

<head>
    <title>CFWC 2017</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <meta name="theme-color" content="#F06300">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script type="text/javascript" src="/javascript/main.js">
    </script>
</head>

<body>
    <div class="landing-image">
    </div>
    <div class="landing-screen">
        <header>
            <img class="logo-big" src="images/logo.png" alt="Cincinnati Food and Wine Classic Logo">
        </header>
        <span>September 22 &amp; 23</span>
        <span>Yeatman's Cove</span>
        <span>150+ Culinary Stars,</span>
        <span>1 Flavorsplosion</span>
        <span>Tickets on sale May 4</span>
        <img class="down-chevron" src="images/down-chevron.svg" alt="">
    </div>

    <div class="email-capture">
        <p>Get updates &amp; news</p>
        <form action="/emails" method="post">
            <input type="text" name="full_name" value="" placeholder="Massimo Bottura">
            <input type="text" name="email" value="" placeholder="massimo.bottura@mail.com">
            <div class="">
                <input type="submit" name="submit" value="Join">
            </div>
        </form>
    </div>

    <div class="video">
        <span>CFWC 2016 Video</span>
        <hr>
        <div class="video-responsive">
            <iframe src="https://player.vimeo.com/video/188693329?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>

    <div class="photos">
        <span>CFWC 2016 Photos</span>
        <hr>
        <div class="gallery">
        </div>
    </div>

    <footer>
        <div class="logo-holder">
            <a href="https://vimeo.com/citystories">
                <img src="images/vimeo-icon.svg" alt="Vimeo Icon">
            </a>
            <a href="https://www.facebook.com/cincinnatifoodandwineclassic?ref=hl">
                <img src="images/facebook-icon.svg" alt="Facebook Icon">
            </a>
            <a href="http://instagram.com/cincinnatifoodandwineclassic">
                <img src="images/instagram-icon.svg" alt="Instagram Icon">
            </a>
        </div>
        <div class="text-links">
            <a href="mailto:info@cincinnatifoodandwineclassic.com">Contact Us</a>
            <a href="/privacy_policy">Privacy Policy</a>
            <a href="/terms_of_use">Terms of Use</a>
            <p>&copy; 2017 Cincinnati Food and Wine Classic</p>
        </div>
    </footer>
    <div class="overlay">
        <img class="close" src="images/close-icon.svg" alt="Close Icon">
        <img class="controls" src="images/down-chevron.svg" alt="Left Arrow">
        <img class="controls" src="images/down-chevron.svg" alt="Right Arrow">
    </div>
</body>

</html>
