<!DOCTYPE html>
<html>

<head>
    <title>CFWC 2017</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta name="theme-color" content="#F06300">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/index.css">
    <script type="text/javascript" src="/javascript/main.js">
    </script>
</head>

<body>
    <div class="landing-image">
    </div>
    <div class="landing-screen">
        <header class="">
            <img class="logo-big" src="images/logo.png" alt="Cincinnati Food and Wine Classic Logo">
        </header>
        <span>September 22 &amp; 23</span>
        <span>Yeatman's Cove</span>
        <span>150+ Culinary Stars,</span>
        <span>1 Flavorsplosion</span>
        <span>Tickets on sale June 1</span>
        <img class="down-chevron" src="images/down-chevron.svg" alt="">
    </div>

    <div class="email-capture">
        <p>Get updates &amp; news</p>
        <form class="" action="index.html" method="post">
            <input type="text" name="email" value="" placeholder="massimo.bottura@mail.com">
            <div class="">
                <input type="submit" name="submit" value="Join">
            </div>
        </form>
    </div>

    <div class="video">
        <span>CFWC 2016 Video</span>
        <hr>
        <div class="video-responsive">
            <iframe src="https://player.vimeo.com/video/188693329?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>

    <div class="photos">
        <span>CFWC 2016 Photos</span>
        <hr>
        <div class="gallery">
        </div>
    </div>

    <div class="footer">
        <div class="logo-holder">
            <img src="images/vimeo-icon.svg" alt="Vimeo Icon">
            <img src="images/facebook-icon.svg" alt="Facebook Icon">
            <img src="images/instagram-icon.svg" alt="Instagram Icon">
        </div>
        <div class="text-links">
            <a href="#">Contact Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
            <p>&copy; 2017 Cincinnati Food and Wine Classic</p>
        </div>
    </div>
</body>

</html>
