doctype html
html
  head
    title CFWC 2017
    meta(charset='utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    meta(name='theme-color', content='#F06300')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='images/favicon.ico')
    link(rel='stylesheet', href='stylesheets/index.css')
    script(type='text/javascript', src='/javascript/main.js')
  body
    .landing-image
    .landing-screen
      header
        img.logo-big(src='images/logo.png', alt='Cincinnati Food and Wine Classic Logo')
      |  
      span September 22 &amp; 23
      |  
      span Yeatman&apos;s Cove
      |  
      span 150+ Culinary Stars,
      |  
      span 1 Flavorsplosion
      |  
      span Tickets on sale June 1
      |  
      img.down-chevron(src='images/down-chevron.svg', alt='')
    .email-capture
      p Get updates &amp; news
      form(action='index.html', method='post')
        input(type='text', name='email', value='', placeholder='massimo.bottura@mail.com')
        div
          input(type='submit', name='submit', value='Join')
    .video
      span CFWC 2016 Video
      hr
    .photos
      span CFWC 2016 Photos
      hr
    .footer
      .logo-holder
        img(src='images/vimeo-icon.svg', alt='Vimeo Icon')
        |  
        img(src='images/facebook-icon.svg', alt='Facebook Icon')
        |  
        img(src='images/instagram-icon.svg', alt='Instagram Icon')
      .text-links
        a(href='#') Contact Us
        |  
        a(href='#') Privacy Policy
        |  
        a(href='#') Terms of Use
        p &copy; 2017 Cincinnati Food and Wine Classic
