doctype html
html
  head
    title CFWC 2017
    meta(charset='utf-8')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    meta(name='theme-color', content='#F06300')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='images/favicon.ico')
    link(rel='stylesheet', href='stylesheets/styles.css')
    script(type='text/javascript', src='/javascript/main.js')
  body
    .landing-image
    .landing-screen
      header
        img.logo-big(src='images/logo.png', alt='Cincinnati Food and Wine Classic Logo')
        |  
        a(href='#') About
        |  
        a(href='#') Talent
        |  
        a(href='#') Tickets
        |  
        a(href='#') Sponsors
      |  
      span September 22 &amp; 23
      |  
      span Yeatman&apos;s Cove
      |  
      span 150+ Culinary Stars
      |  
      span 1 Flavorsplosion
      |  
      span Tickets on sale May 8

      |  
      img.down-chevron(src='images/down-chevron.svg', alt='')
    .email-capture
      p Get updates &amp; news
      form(action='/emails', method='post')
        input(type='text', name='full_name', value='', placeholder='Massimo Bottura')
        |  
        input(type='text', name='email', value='', placeholder='massimo.bottura@mail.com')
        div
          input(type='submit', name='submit', value='Join')
    .video
      span CFWC 2016 Video
      hr
      .video-responsive
        iframe(src='https://player.vimeo.com/video/188693329?title=0&byline=0&portrait=0', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    .photos
      span CFWC 2016 Photos
      hr
      .gallery
    footer
      .logo-holder
        a(href='https://vimeo.com/citystories')
          img(src='images/vimeo-icon.svg', alt='Vimeo Icon')
        |  
        a(href='https://www.facebook.com/cincinnatifoodandwineclassic?ref=hl')
          img(src='images/facebook-icon.svg', alt='Facebook Icon')
        |  
        a(href='http://instagram.com/cincinnatifoodandwineclassic')
          img(src='images/instagram-icon.svg', alt='Instagram Icon')
      .text-links
        a(href='mailto:info@cincinnatifoodandwineclassic.com') Contact Us
        |  
        a(href='/privacy_policy') Privacy Policy
        |  
        a(href='/terms_of_use') Terms of Use
        p &copy; 2017 Cincinnati Food and Wine Classic
    .overlay
      img.close(src='images/close-icon.svg', alt='Close Icon')
      |  
      img.controls(src='images/down-chevron.svg', alt='Left Arrow')
      |  
      img.controls(src='images/down-chevron.svg', alt='Right Arrow')
