doctype html
html
  head
    title CFWC 2017
    meta(charset='utf-8')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    meta(name='theme-color', content='#F06300')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='images/favicon.ico')
    link(rel='stylesheet', href='stylesheets/index.css')
    script(type='text/javascript', src='/javascript/main.js')
  body
    span CFWC 2016 Video
    hr
    .footer
      .logo-holder
        a(href='https://vimeo.com/citystories')
          img(src='images/vimeo-icon.svg', alt='Vimeo Icon')
        |  
        a(href='https://www.facebook.com/cincinnatifoodandwineclassic?ref=hl')
          img(src='images/facebook-icon.svg', alt='Facebook Icon')
        |  
        a(href='http://instagram.com/cincinnatifoodandwineclassic')
          img(src='images/instagram-icon.svg', alt='Instagram Icon')
      .text-links
        a(href='#') Contact Us
        |  
        a(href='#') Privacy Policy
        |  
        a(href='#') Terms of Use
        p &copy; 2017 Cincinnati Food and Wine Classic
    .overlay
      img.close(src='images/close-icon.svg', alt='Close Icon')
      |  
      img.controls(src='images/down-chevron.svg', alt='Left Arrow')
      |  
      img.controls(src='images/down-chevron.svg', alt='Right Arrow')
