<!DOCTYPE html>
<html>

<head>
    <title>CFWC 2017</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <meta name="theme-color" content="#F06300">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script type="text/javascript" src="/javascript/main.js"></script>
</head>

<body>
    <div class="landing-image">
    </div>
    <div class="landing-screen">
        <header>
            <a href="#">About</a>
            <a href="#">Talent</a>
            <img class="logo-big" src="images/logo.png" alt="Cincinnati Food and Wine Classic Logo">
            <a href="/tickets">Tickets</a>
            <a href="#">Sponsors</a>
        </header>

        
</body>

</html>
