footer {
  font-weight: 300;
  background-color: #F06300;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: .5vh;
  box-shadow: 0px -3px 5px 0px black; }
  footer .logo-holder a img {
    width: 15vw;
    padding-left: 4vw;
    padding-right: 4vw; }
  @media only screen and (min-width: 1024px) {
    footer .logo-holder a img {
      width: 8vw;
      padding-left: 2vw;
      padding-right: 2vw; } }
  footer .text-links {
    padding-top: 4vh; }
    footer .text-links a {
      text-decoration: none;
      color: white;
      padding-left: 3vw;
      padding-right: 3vw;
      font-size: 4vw; }
    @media only screen and (min-width: 1024px) {
      footer .text-links a {
        font-size: 2vw; } }
    footer .text-links p {
      font-size: 4vw;
      padding-top: 2vh; }
    @media only screen and (min-width: 1024px) {
      footer .text-links p {
        padding-top: 0;
        font-size: 1.5vw; } }

.landing-image {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-image: url("/images/landing-mobile.png");
  background-position: center;
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  -webkit-transition: -webkit-filter 12s;
  transition: -webkit-filter 12s;
  transition: filter 12s;
  transition: filter 12s, -webkit-filter 12s; }

@media only screen and (max-width: 1023px) and (min-width: 415px) {
  .landing-image {
    background-image: url("/images/landing-desktop.png"); } }

@media only screen and (min-width: 1024px) {
  .landing-image {
    background-image: url("/images/landing-desktop.png");
    background-repeat: no-repeat;
    width: 100%; } }

.landing-screen {
  font-weight: 300;
  text-align: center;
  height: 100vh; }
  .landing-screen span {
    display: block;
    text-shadow: 0px 3px 3px black; }
    .landing-screen span:nth-of-type(1), .landing-screen span:nth-of-type(2) {
      font-size: 10vw; }
    @media only screen and (min-width: 1024px) {
      .landing-screen span:nth-of-type(1), .landing-screen span:nth-of-type(2) {
        font-size: 5vw; } }
    .landing-screen span:nth-of-type(3), .landing-screen span:nth-of-type(4) {
      font-size: 8vw; }
    @media only screen and (min-width: 1024px) {
      .landing-screen span:nth-of-type(3), .landing-screen span:nth-of-type(4) {
        font-size: 4vw; } }
    .landing-screen span:nth-of-type(5), .landing-screen span:nth-of-type(6) {
      font-size: 7vw; }
    @media only screen and (min-width: 1024px) {
      .landing-screen span:nth-of-type(5), .landing-screen span:nth-of-type(6) {
        font-size: 3vw; } }
    .landing-screen span:nth-of-type(1) {
      width: 100%;
      position: absolute;
      bottom: 50vh; }
    @media only screen and (min-width: 1024px) {
      .landing-screen span:nth-of-type(1) {
        bottom: 56vh; } }
    .landing-screen span:nth-of-type(2) {
      width: 100%;
      position: absolute;
      bottom: 43vh; }
    @media only screen and (min-width: 1024px) {
      .landing-screen span:nth-of-type(2) {
        bottom: 46vh; } }
    .landing-screen span:nth-of-type(3) {
      width: 100%;
      position: absolute;
      bottom: 30vh; }
    @media only screen and (min-width: 1024px) {
      .landing-screen span:nth-of-type(3) {
        bottom: 32vh; } }
    .landing-screen span:nth-of-type(4) {
      width: 100%;
      position: absolute;
      bottom: 25vh; }
    .landing-screen span:nth-of-type(5) {
      width: 100%;
      position: absolute;
      bottom: 12vh; }
  .landing-screen .down-chevron {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4vh;
    display: block;
    margin: 0 auto; }

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-image: url("/images/body-bg-mobile.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  color: white; }

@media only screen and (max-width: 1023px) and (min-width: 415px) {
  body {
    background-image: url("/images/body-bg-desktop.png"); } }

@media only screen and (min-width: 1024px) {
  body {
    background-image: url("/images/body-bg-desktop.png"); } }

.email-capture * {
  -webkit-transition: opacity .4s;
  transition: opacity .4s; }

.email-capture {
  text-align: center;
  margin-top: 6vh;
  opacity: 1; }
  @media only screen and (min-width: 1024px) {
    .email-capture .email-capture {
      margin-top: 10vh; } }
  .email-capture p {
    font-size: 6vw; }
  @media only screen and (min-width: 1024px) {
    .email-capture p {
      font-size: 3vw; } }
  .email-capture input[type=text] {
    outline: none;
    width: 80vw;
    height: 4.3vh;
    border-radius: 1.5vw;
    border-style: none;
    font-size: 4vw;
    text-align: center;
    background-color: #D8D8D8;
    -webkit-appearance: none; }
  .email-capture input[type=text]:nth-of-type(1) {
    margin-bottom: 3vh; }
  .email-capture input[type=text]:nth-of-type(2) {
    display: block;
    margin: 0 auto; }
  @media only screen and (min-width: 1024px) {
    .email-capture input[type=text] {
      border-radius: 1.1vw;
      width: 40vw;
      font-size: 2vw;
      height: 4.8vh; } }
  .email-capture input[type=submit] {
    background-color: #F06300;
    border-style: none;
    color: white;
    font-size: 4.3vw;
    margin-top: 6vw;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-radius: 1.5vw;
    box-shadow: 0px 3px 15px 0px black;
    -webkit-appearance: none; }
  @media only screen and (min-width: 1024px) {
    .email-capture input[type=submit] {
      margin-top: 4vw;
      font-size: 2vw;
      padding-left: 6vw;
      padding-right: 6vw; } }

header a {
  display: none; }

.header-active {
  text-align: center;
  background-color: white;
  box-shadow: 0px 1px 10px 0px black;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  padding-top: 3vh;
  padding-bottom: 3vh; }
  .header-active a {
    display: inline;
    padding-right: 5vw;
    font-size: 3.2vw;
    text-decoration: none;
    color: #F06300; }
    @media only screen and (min-width: 1024px) {
      .header-active a {
        font-size: 2vw; } }
  .header-active img {
    width: 15vw;
    -webkit-transition: width .7s;
    transition: width .7s;
    vertical-align: middle;
    padding-right: 5vw;
    padding-left: 5vw; }

@media only screen and (min-width: 1024px) {
  .header-active img {
    width: 10vw; } }

.logo-big {
  padding-top: 8vh;
  width: 65vw; }

@media only screen and (min-width: 1024px) {
  .logo-big {
    width: 20vw; } }

.video-responsive {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-left: 10vw;
  margin-right: 10vw; }

@media only screen and (min-width: 1024px) {
  .video-responsive {
    margin-left: 20vw;
    margin-right: 20vw; } }

iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.photos {
  padding-bottom: 10vh; }
  .photos .gallery {
    margin-left: 10vw;
    margin-right: 10vw; }
    .photos .gallery .thumbs {
      width: 40vw; }
      @media only screen and (min-width: 1024px) {
        .photos .gallery .thumbs {
          width: 17vw; } }

.overlay.active {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  -webkit-transition: background-color .5s;
  transition: background-color .5s; }
  .overlay.active .full-image {
    max-width: 1144px;
    width: 100vw;
    bottom: 34vh;
    position: absolute;
    opacity: 100%;
    left: 0; }
  @media only screen and (max-width: 1023px) and (min-width: 415px) {
    .overlay.active .full-image {
      width: 74vw;
      bottom: 0;
      margin-left: 13vw; } }
  @media only screen and (min-width: 1024px) {
    .overlay.active .full-image {
      width: 68vw;
      bottom: 0;
      margin-left: 16vw; } }
  .overlay.active .close {
    z-index: 1;
    position: absolute;
    bottom: 14vh;
    left: 49vw;
    width: 5vw; }
  @media only screen and (max-width: 1023px) and (min-width: 415px) {
    .overlay.active .close {
      width: 3vw;
      background-color: black; } }
  @media only screen and (min-width: 1024px) {
    .overlay.active .close {
      width: 2vw;
      bottom: 68vh;
      background-color: black; } }
  .overlay.active .controls {
    z-index: 1;
    position: absolute;
    bottom: 16vh;
    width: 10vw; }
    .overlay.active .controls:nth-of-type(2) {
      left: 10vw;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    @media only screen and (max-width: 1023px) and (min-width: 415px) {
      .overlay.active .controls:nth-of-type(2) {
        width: 6vw;
        left: 20vw;
        background-color: black; } }
    @media only screen and (min-width: 1024px) {
      .overlay.active .controls:nth-of-type(2) {
        width: 4vw;
        bottom: 70.5vh;
        left: 38vw;
        background-color: black; } }
    .overlay.active .controls:nth-of-type(3) {
      right: 10vw;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
    @media only screen and (max-width: 1023px) and (min-width: 415px) {
      .overlay.active .controls:nth-of-type(3) {
        width: 6vw;
        right: 20vw;
        background-color: black; } }
    @media only screen and (min-width: 1024px) {
      .overlay.active .controls:nth-of-type(3) {
        width: 4vw;
        bottom: 70.5vh;
        right: 38vw;
        background-color: black; } }

.video, .photos, .header {
  text-align: center;
  margin-top: 10vh; }
  .video span, .photos span, .header span {
    font-size: 8vw; }
  @media only screen and (min-width: 1024px) {
    .video span, .photos span, .header span {
      font-size: 5vw; } }
  .video hr, .photos hr, .header hr {
    width: 80vw;
    border: 0.1vh solid #F06300;
    margin-bottom: 7vh; }
  @media only screen and (min-width: 1024px) {
    .video hr, .photos hr, .header hr {
      width: 60vw; } }

.privacy-policy {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vh; }
  .privacy-policy a {
    color: #F06300; }
  .privacy-policy header {
    text-align: center; }

a {
  cursor: pointer; }
