footer {
  font-weight: 300;
  background-color: #F06300;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: .5vh;
  box-shadow: 0px -3px 5px 0px black; }
  footer .logo-holder a img {
    width: 15vw;
    padding-left: 4vw;
    padding-right: 4vw; }
  @media only screen and (min-width: 1024px) {
    footer .logo-holder a img {
      width: 8vw;
      padding-left: 2vw;
      padding-right: 2vw; } }
  footer .text-links {
    padding-top: 4vh; }
    footer .text-links a {
      text-decoration: none;
      color: white;
      padding-left: 3vw;
      padding-right: 3vw;
      font-size: 4vw; }
    @media only screen and (min-width: 1024px) {
      footer .text-links a {
        font-size: 2vw; } }
    footer .text-links p {
      font-size: 4vw;
      padding-top: 2vh; }
    @media only screen and (min-width: 1024px) {
      footer .text-links p {
        padding-top: 0;
        font-size: 1.5vw; } }

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-image: url("/images/body-bg-mobile.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  color: white; }

@media only screen and (max-width: 1023px) and (min-width: 415px) {
  body {
    background-image: url("/images/body-bg-desktop.png"); } }

@media only screen and (min-width: 1024px) {
  body {
    background-image: url("/images/body-bg-desktop.png"); } }

header a {
  display: none; }

.header-active {
  text-align: center;
  background-color: white;
  box-shadow: 0px 1px 10px 0px black;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  padding-top: 3vh;
  padding-bottom: 3vh; }
  .header-active a {
    display: inline;
    padding-right: 5vw;
    font-size: 3.2vw;
    text-decoration: none;
    color: #F06300; }
    @media only screen and (min-width: 1024px) {
      .header-active a {
        font-size: 2vw; } }
  .header-active img {
    width: 15vw;
    -webkit-transition: width .7s;
    transition: width .7s;
    vertical-align: middle;
    padding-right: 5vw;
    padding-left: 5vw; }

@media only screen and (min-width: 1024px) {
  .header-active img {
    width: 10vw; } }

.logo-big {
  padding-top: 8vh;
  width: 65vw; }

@media only screen and (min-width: 1024px) {
  .logo-big {
    width: 20vw; } }

.video, .photos, .header {
  text-align: center;
  margin-top: 10vh; }
  .video span, .photos span, .header span {
    font-size: 8vw; }
  @media only screen and (min-width: 1024px) {
    .video span, .photos span, .header span {
      font-size: 5vw; } }
  .video hr, .photos hr, .header hr {
    width: 80vw;
    border: 0.1vh solid #F06300;
    margin-bottom: 7vh; }
  @media only screen and (min-width: 1024px) {
    .video hr, .photos hr, .header hr {
      width: 60vw; } }

.header {
  padding-top: 6vh; }
  @media only screen and (min-width: 1024px) {
    .header {
      padding-top: 12vh; } }
  .header span {
    color: #434040; }

.ticket-types p {
  color: #434040; }

.ticket {
  width: 86vw;
  border: 1px solid #F06300;
  margin-bottom: 4vh;
  margin-left: 5vw;
  padding: 20px;
  text-align: center;
  font-weight: 300; }
  @media only screen and (min-width: 1024px) {
    .ticket {
      margin-left: 5.4vw; } }
  @media only screen and (max-width: 1023px) and (min-width: 415px) {
    .ticket {
      margin-left: 7.5vw; } }
  .ticket a {
    text-decoration: none;
    color: #F06300;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding-bottom: 2vh;
    padding-top: 2vh;
    width: 36vw;
    font-size: 4vw;
    display: inline-block; }
    .ticket a:first-of-type {
      margin-right: 6vw; }
    @media only screen and (min-width: 1024px) {
      .ticket a {
        font-size: 1.4vw;
        width: 12vw; } }
    @media only screen and (max-width: 1023px) and (min-width: 415px) {
      .ticket a {
        font-size: 2.6vw;
        width: 22vw; } }
  @media only screen and (min-width: 1024px) {
    .ticket .left, .ticket .right {
      display: inline-block;
      vertical-align: middle; } }
  @media only screen and (max-width: 1023px) and (min-width: 415px) {
    .ticket .right {
      width: inherit; } }
  @media only screen and (min-width: 1024px) {
    .ticket .right {
      margin-left: 4vw;
      width: 40vw; } }
  .ticket .right p:nth-of-type(1) {
    padding-top: 4vh; }
    @media only screen and (min-width: 1024px) {
      .ticket .right p:nth-of-type(1) {
        padding-top: 0vh; } }
  @media only screen and (min-width: 1024px) {
    .ticket .left {
      margin-right: 4vw; } }
  .ticket .left img {
    width: 8vw; }

a {
  cursor: pointer; }
