body
  font-family: 'Montserrat', sans-serif
  margin: 0
  background-image: url('/images/body-bg-mobile.png')
  background-attachment: fixed
  background-repeat: no-repeat
  height: 100vh
  color: $brand-white
@include tablet
  body
    background-image: url('/images/body-bg-desktop.png')
@include desktop
  body
    background-image: url('/images/body-bg-desktop.png')
