.header-active
  background-color: $brand-white
  box-shadow: 0px 1px 10px 0px $brand-black
  position: fixed
  top: 0
  width: 100vw
  z-index: 1
  transition: background-color .5s
  padding-top: 3vh
  padding-bottom: 3vh
  img
    width: 22vw
    transition: width .7s

.logo-big
  padding-top: 8vh
  width: 65vw
//
