.photos
  padding-bottom: 10vh
  .gallery
    margin-left: 10vw
    margin-right: 10vw
    .thumbs
      width: 40vw

.overlay
  &.active
    position: fixed
    top: 0
    height: 100vh
    width: 100vw
    background-color: $brand-black
    transition: background-color .5s
    .full-image
      width: 100vw
      bottom: 34vh
      position: absolute
      opacity: 100%
      left: 0
    @include desktop
      .full-image
        // max-width: 50vw
        width: 50vw
        bottom: 0
        margin-left: 25vw
    .close
      position: absolute
      bottom: 14vh
      left: 49vw
      width: 5vw
    @include desktop
      .close
        width: 2vw
        bottom: 68vh
    .controls
      position: absolute
      bottom: 16vh
      width: 10vw
      &:nth-of-type(2)
        left: 10vw
        transform: rotate(90deg)
      @include desktop
        &:nth-of-type(2)
          width: 4vw
          bottom: 70.5vh
          left: 38vw
      &:nth-of-type(3)
        right: 10vw
        transform: rotate(-90deg)
      @include desktop
        &:nth-of-type(3)
          width: 4vw
          bottom: 70.5vh
          right: 38vw
